$puceLiHeight: 60px;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  main {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    background-color: #393a3a;

    #nav {
      // border: 2px solid black;
      position: fixed;
      width: 8%;
      height: 100%;
      background: #302f2f;
      #logo {
        // border: 2px solid black;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: space-between;
        #logoWebDev {
          color: white;
        }
      }
      p {
        // border: 2px solid black;
        text-align: center;
      }

      #svg {
        display: flex;
        justify-content: center;
        height: 100px;
        position: relative;
      }

      svg {
        height: 100%;
        display: block;
        position: absolute;
      }
    }
    #div1 {
      border: 2px solid black;
      width: 100%;
      margin-left: 8%;
      padding-left: 10px;
      .balise {
        font-family: "Cedarville Cursive", cursive;
        font-size: 19px;
        color: #818181;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      .borderLi {
        border-bottom: 2px solid black;
        box-shadow: 0px 10px 5px -5px black;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        height: $puceLiHeight;
        list-style-type: none;
        margin: 0;
        text-align: center;

        a {
          padding: 5px;

          i {
            color: white;
          }
        }
      }
      #reseau {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        margin-top: 15px;
      }
    }
    #Presentation {
      font-family: "Anek Latin", sans-serif;
      font-size: 100px;
      margin-left: 50px;

      p {
        margin: 0;
        span {
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }
  }
}
