$puceLiHeight: 60px;
$colorButtonH2: aqua;
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #393a3a;
  main {
    width: 92%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;

    #nav {
      // border: 2px solid black;
      position: fixed;
      width: 8%;
      height: 100%;
      background: #302f2f;
      border-right: 2px solid black;
      #logo {
        // border: 2px solid black;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: space-between;
        height: 150px;
        #logoWebDev {
          color: white;
          margin-bottom: 10px;
        }
      }
      p {
        // border: 2px solid black;
        text-align: center;
      }

      #svg {
        display: flex;
        justify-content: center;
        height: 100px;
        position: relative;
      }

      svg {
        height: 100%;
        display: block;
        position: absolute;
      }
    }
    #div1 {
      width: 100%;
      margin-left: 8%;
      padding-left: 10px;
      .balise {
        font-family: "Cedarville Cursive", cursive;
        font-size: 15px;
        color: #818181;
        margin: 0;
      }
      #baliseBody {
        margin-left: 15px;
      }
      #baliseH1,
      #baliseH1Fermante {
        margin-left: 30px;
      }
      #baliseP1,
      #baliseP1Fermante {
        margin-left: 40px;
      }
    }

    #div2 {
      margin-left: 8%;
      width: 100%;
      padding-left: 10px;
    }

    ul {
      padding: 0;
      margin: 0;

      .borderLi {
        border-bottom: 2px solid black;
        box-shadow: 0px 10px 5px -5px black;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        height: $puceLiHeight;
        list-style-type: none;
        margin: 0;
        text-align: center;

        a {
          padding: 5px;

          i {
            color: white;
          }
        }
      }
      #reseau {
        display: flex;
        justify-content: space-around;

        margin-top: 15px;
        border-right: 1px solid black;
      }
    }
    #Presentation {
      font-family: "Anek Latin", sans-serif;
      font-size: 85px;
      margin-left: 50px;

      p {
        margin: 0;
        color: white;
        #prenomPresentation {
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }
    p {
      margin: 0;
    }
    #legendePresentation {
      font-family: "Abel";
      font-style: normal;
      font-weight: 400;
      font-size: 1.5em;
      line-height: 41px;
      margin-left: 50px;
      letter-spacing: 0.2em;
      color: white;
    }

    #contactMe {
      margin-left: 50px;
      margin-top: 30px;
    }
    #divScroll {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .scroll {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: white;

        i {
          color: white;
        }
      }
      #scrollLeft {
        margin-left: 5px;
      }
      #scrollRight {
        margin-right: 10px;
      }
    }
  }
}

span {
  margin: 0;
}
.animation {
  display: inline-block;
}
/* From uiverse.io by @nikk7007 */
button {
 padding: 0.8em 1.8em;
 border: 2px solid #17C3B2;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #17C3B2;
}

button::before {
 content: '';
 width: 0;
 height: 340%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: aqua;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}
